.cell {
	padding: 50px;
	height: 150px;
	background-color: #fff;
}

.n-grid {
	border: 5px solid #808080;
	border-radius: 5px;
	background-color: rgba(129, 247, 53, 1);
	padding: 15px;
	font-size: 24px;
	font-family: "Verdana";
	font-weight: bold;
	display: inline-block;
	width: 75px;
}

.progress {
	margin-top: 50px;
}

.progress-bar {
	width: 0%;
}

#left-hand-feedback,
#right-hand-feedback {
	border: 5px solid #808080;
	border-radius: 5px;
}

#left-hand-feedback h4,
#right-hand-feedback h4 {
	font-weight: bold;
}

body {
	background-color: rgba(120, 120, 120, 0.2);
	padding-top: 70px;
}